html {
  background-color: white;
  color: black;
  transition: var(--theme-background-transition), var(--theme-color-transition);
}

html[theme='dark'] {
  background-color: black;
  color: white;
}
